{% extends 'base.html.twig' %}

{% block title %}Bac a Sable{% endblock %}

{% block body %}

{% include 'inc/horizontalNav.html.twig' %}
  <main class="text-center">
    <h1>ZNO</h1>

    {{ form_start(registrationForm) }}

        <div class="mb-3 row justify-content-center mt-5">
            <label for="staticEmail" class="col-sm-2 col-form-label"><strong>Email</strong></label>
            <div class="col-sm-4">
        {{ form_widget(registrationForm.email) }}
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label for="inputPassword" class="col-sm-2 col-form-label"><strong>Password</strong></label>
            <div class="col-sm-4">
                {{ form_widget(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}            
            </div>
        </div>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-info mt-3">Register</button>
    {{ form_end(registrationForm) }}
  </main>

{% include 'inc/footer.html.twig' %}

{% endblock %}
